.footer {
    background: #8094a4;
    position: relative;

    @include mq($max-width: 1024px) {
        text-align: center;
    }

    &__office-map-link {
        color: $yellow;
        display: block;
        float: right;
        font-size: 27px;
        font-weight: 500;
        padding: 114px 30px 139px 0;        
        position: relative;
        text-align: left;
        text-decoration: none;

        @include mq($max-width: 1024px) {
            float: none;
            padding: 100px 0;
            text-align: center;            
            width: 100%;            
        }

        &:before {
            content: "";
            background: url(../images/icon-map-direction.png) no-repeat left center;
            height: 111px;
            position: absolute;
            right: 200px;
            top: 100px;
            width: 111px;

            @include mq($max-width: 1024px) {
                display: block;
                position: relative;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
            }
        }

        &:hover {
            color: $white;
        }
    }

    &__address {
        color: $white;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 16px;        
        margin: 10px 0 0;

        span {
            display: block;
        }
    }

    .google-link {
        @include transition(.2s, 0s, ease-out);
        border: 1px solid $white;
        border-radius: 50px;
        height: 30px;
        margin: 10px 0;
        width: 30px;

        @include mq($max-width: 1024px) {
            margin: 20px auto;
        }

        &:hover {
            border: 1px solid $yellow;
        }
        a {
            color: $white;
            display: block;
            padding: 2px 0 0 5px;    
            &:hover {
                color: $yellow;
            } 
        }
    }

    .lead-counsel-seal {
        text-align: center;
    }

    .copyright {
        color: $white;
        font-family: Arial,Helvetica,sans-serif;        
        font-size: 13px;
        p, a {
            color: $white;
        }
    }

    .scroll-up {
        @include transition(.2s, 0s, ease-out);
        background: $white;
        bottom: 30px;
        border-radius: 40px;
        color: $darkblue;
        cursor: pointer;
        font-weight: 600;
        height: 30px;
        right: 30px;
        position: absolute;
        text-align: center;
        width: 30px;

        &:hover {
            bottom: 35px;
        }
    }

    .wrapper {
        padding: 30px;
    }

    h2 {
        color: $white;
        font-size: 34px;
        font-weight: 500;
        margin: 0 0 20px;
    }
}