.header {
    background: $blue;

    nav {
        @include mq($max-width: 1024px) {
            padding: 0 20px;
        }
    }

    &__cta {
        background: #566479;
        color: $white;
        display: table-cell;
        height: 65px;
        padding: 0 15px;
        vertical-align: middle;
        width: 100%;

        @include mq($max-width: 1024px) {
            display: block;
            height: auto;
            width: 100%;
            padding: 20px;
        }

        h2 {
            font-size: 18px;
            
            @include mq($max-width: 1024px) {
                font-size: 16px;
            }
        }

        span {
            &.phone {
                color: $yellow2;            
                font-size: 24px;
    
                @include mq($max-width: 640px) {
                    display: block;
                    font-size: 24px;
                    margin: 0 0 5px;                    
                    text-align: center;
                }
    
            }

            &.line-1, &.line-3 {
                @include mq($max-width: 640px) {
                    display: block;
                    margin: 0 0 5px;
                    text-align: center;
                }
            }
        }
    }
}