.practice-type {
    background: $blue;
    height: 155px;

    @include mq($max-width: 640px) {
        height: auto;
    }

    .columns {
        &:first-child {
            &:after {
                background: #a2acbb;            
                content: "";
                height: 156px;
                right: 15px;
                top: 0;
                position: absolute;
                width: 1px;

                @include mq($max-width: 640px) {
                    right: 0;
                    top: 158px;
                    height: 1px;
                    width: 100%;
                }
            }
        }
        &:last-child {
            &:before {
                content: "";
                background: #566479;
                height: 155px;
                left: -15px;
                position: absolute;            
                top: 0;
                width: 1px;     
                
                @include mq($max-width: 640px) {
                    left: 0;
                    top: 2px;
                    height: 1px;
                    width: 100%;
                }
            }    
        }
    }

    &__mediation, &__matrimonal {
        color: $white;
        display: table-cell;
        font-size: 22px;
        height: 155px;        
        padding: 0 20px 0 125px;    
        text-decoration: none;   
        vertical-align: middle;
        
        span {
            display: block;
            font-size: 16px;
            line-height: 18px;
        }

        &:hover {
            color: $yellow;
        }
    }

    &__mediation {
        background: transparent url('../images/bg-prac-divorce.png') 0 35px no-repeat;
    }

    &__matrimonal {
        background: transparent url('../images/bg-prac-traditional.png') 0 35px no-repeat;   
    }
}

.section {
    padding: 30px;

    .heading, h2 {
        color: $darkblue;
        font-weight: 500;
        margin: 20px 0 15px;
    }

    p + h2 {
        margin-top: 40px;
    }

    ul + img {
        margin-left: 20px;

        @include mq($max-width: 640px) {
            margin-left: 0;
        }
    }

    &--gray {
        background: $gray;
    }
}