body {
  background: $white;;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

.row {
  max-width: 1120px;
}

.row--full {
  max-width: 100%;
}

.flexbox-container {
  &--large-up {

    @include mq($min-width: 1024px) {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;    
    }
  }
}

a {
  @include transition(.2s, 0s, ease-out);  
}

sup {
  font-size: 50%;
  position: relative;
  top: -15px;
}