.h-text-white {
  color: $white;
}

.h-font-bold {
  font-weight: 600;
}

.h-nowrap {
  white-space: nowrap;
}

.h-inline-block {
  display: inline-block;
}

.h-no-padding {
  padding: 0 !important;
}

.h-text-align-left {
  text-align: left;
}