h1, h2, h3, h4 {
  font-family: 'Dosis', sans-serif;  
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
}

p, li {
  font-size: 16px;
  font-family: Arial,Helvetica,sans-serif;
  margin: 0 0 15px;
}

ul {
  margin: 20px 0 20px 40px;

  li {
    list-style-type: disc;
    margin-bottom: 5px;
  }
}

.heading {
  
  &--small {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.2px;
  }

  &--medium {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
  }

  &--large {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.2;
  }

  &--bold {
    font-weight: 600;
  }

}