.button {
    @include transition(.2s, 0s, ease-out);
    color: $white;
    font-family: inherit;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;

    @media #{$medium-up} {
        font-size: 22px;
        line-height: 25px;
    }
    
    &--block {
        display: block;
    }

    &--inline {
        display: inline;
    }

    &--inline-block {
        display: inline-block;
    }

    &--small {
        padding: 10px;
    }

    &--medium {
        padding: 25px 10px;
    }

    &--rounded {
        border-radius: 10px;
    }

    &--border {
        background: $white;
        border: 1px solid $gray;
        color: $yellow;   
        &:active, &:visited {
            background: $white;
            border: 1px solid $gray;
            color: $yellow;    
        }

        &:hover {
            color: $blue;
            background: $white;
        }
    }

    &--yellow {
        background: $yellow;
        color: $white;
        &:active, &:visited {
            background: $yellow;
            color: $white;                
        }
        &:hover {
            background: $blue;
            color: $white;  
        }
    }
}