.contact-form {
    text-align: center;

    h2, p {
        color: $white;
    }

    p {
        
    }

    a {
        color: $white;
    }

    &__label {
        display: none;

        &--show {
            color: $white;
            display: inline-block;
            font-size: 16px;            
        }
    }

    &__input, &__textarea {
        background: transparent;
        border: 1px solid $white;
        box-sizing: border-box;
        font-size: 16px;
        margin: 0 0 20px;
        padding: 15px 20px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: $white;
        }
    }

    &__button {
        margin: 0;
        padding: 48px 0;
        width: 100%;
    }
    
}