.hero {

    .logo {
        @include mq($max-width: 640px) {
            margin: 0 auto;
        }
    }

    .row {
        background: url(../images/bg-banner-home.png) no-repeat right 11px bottom;        
        padding: 50px 0;      
        
        @include mq($max-width: 640px) {
            padding: 50px 0 400px;      
        }
    }

    &__brand {
        margin: 40px 0;
    }

    &__content {
        @include mq($max-width: 640px) {
            text-align: center;
        }
    }

    .heading {
        margin: 15px 0 0;

        &--small {
            color: $black;
        }

        &--large {
            color: $darkblue;
        }

        &--medium {
            color: $black;
        }
    }

    .button {
        margin: 40px;
    }
}