.socmed {
    margin: 20px 0;
    text-align: center;
    
    li {
        @include transition(.2s, 0s, ease-out);
        border-radius: 4px;
        display: inline-block;
        font-size: 25px;
        list-style-type: none;    
        margin: 0 5px;
        position: relative;
        top: 0;

        &:hover {
            top: -5px;
        }
    }

    a {
        color: $white;
        display: table-cell;
        height: 50px;
        vertical-align: middle;
        width: 50px;
    }

    &--google {
        background: #D75139;
    }

    &--twitter {
        background: #59ADEB;
    }

    &--facebook {
        background: #3C5A96;
    }

    &--linkedin {
        background: #1786BD;
    }
}