.logo {
  background: transparent url($imgpath + 'brand-footer.png') 0 0 no-repeat;
  background-size: 100%;
  height: 50px;
  max-width: 290px;

  a {
    display: block;
    height: inherit;
    text-indent: -8400px;
    width: inherit;
  }
}