.main-navigation {
    @include transition(.2s, 0s, ease-out);
    display: table-cell;
    height: 65px;
    vertical-align: middle;

    @include mq($max-width: 640px) {

        .mobile-nav-open & {
            height: 175px;
            margin-top: 75px;
            opacity: 1;            
        }

        opacity: 0;
        display: block;
        padding: 20px 0;
        width: 100%;
    }

    li {
        display: inline-block;
        margin: 0 20px 0 0;

        @include mq($max-width: 640px) {
            display: block;
            padding: 5px 0;
            text-align: center;
            width: 100%;
        }
    }

    a {
        color: $white;
        font-size: 16px;
        padding: 20px 0;
        text-decoration: none;

        &:hover {
            color: $yellow;
        }
    }
}

.mobile-nav-toggle {
    color: $white;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;

    .fa-times {
        display: none;
    }

    .mobile-nav-open & {
        top: 15px;

        .fa-bars {
            display: none;
        }

        .fa-times {
            display: block;
        }
    }
}

.mobile-nav-text {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}